body {
  font-family: sans-serif;
  background-color: rgb(221, 223, 236);
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.spoon {
  background-color: rgb(228, 208, 122);
  padding: 10px;
  margin: 10px;
  width: 300px;
  height: 400px;
  border-radius: 25px;
  border: 1px solid rgb(0, 0, 0);
}

.spoon-img {
  height: auto;
  width: 200px;
  border-radius: 10px;
}

.spoon-img-thumbnail {
  height: auto;
  width: 75px;
  border-radius: 10px;
  margin: 20px;
}

.all-spoons-container {
  display: flex;
  flex-flow: wrap;
  align-items: flex-end;
  justify-content: space-between;
}

.history-spoons-container {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  align-items: flex-start;
}

.sideby {
  align-items: top;
  display: flex;
  flex-direction: row;
  text-align: left;
}

.fatterSide {
  width: 60%;
}

.halfWidth {
  width: 50%;
}

.alignCenter {
  align-items: center;
}

.smLeftMargin {
  margin-left: 1em;
}

.medLeftMargin {
  margin-left: 5em;
}

.largeRightMargin {
  margin-right: 10em;
}

.space {
  margin: 2px;
}

.bottomMargin {
  margin-bottom: 40px;
}

.justifySelfRight {
  justify-self: flex-end;
  align-self: flex-end;
  text-align: right;
}

.row {
  flex-direction: row;
}
